<div class="margin-bottom-tiny margin-left-tiny margin-top-tiny">
    <a href="/activity/{{ id }}">{{ title }}</a> - completed by <span><a href="/users/{{id}}">{{ user.username }}</a></span> on {{ formatDate act_date }}
</div>